<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="yjc.wdb.bbs.BoardMapper">
  
<insert id="create" useGeneratedKeys="true" keyProperty="bno">
	insert into boards(title, content, writer)
	values(#{title}, #{content}, #{writer})
</insert>

<select id="listAll" resultType="Board">
	select * 
	from boards
	order by moddate desc
</select>

<select id="read" resultType="Board">
	select *
	from boards
	where bno=#{bno}	
</select>

<update id="incReadCnt">
	update boards set readcount=readcount+1 
	where bno = #{bno}
</update>

<update id="update">
	update boards set title=#{title}, content=#{content}, moddate=now()
	where bno = #{bno}
</update>

<delete id="delete">
	delete from boards
	where bno = #{bno}
</delete>

<insert id="addAttach" useGeneratedKeys="true" keyProperty="id">
	insert into attachments(bno, filename, mime, bytes) values(null, #{fileName}, #{mime}, #{bytes})
</insert>

<update id = "associateAttachWithBoard">
	update attachments set bno = #{bno}
	where id in 
	<foreach item="id" index="idx" collection="list"
					open="(" separator="," close=")" >
				#{id}	
	</foreach>
</update>

<select id="getAttaches" resultType="Attachment">
	select * from attachments where bno = #{bno}
</select>

<delete id="delAttaches">
	delete from attachments where id in
	<foreach item="id" index="idx" collection="list"
					open="(" separator="," close=")" >
				#{id}	
	</foreach>
</delete>

<select id = "getFileNames" resultType="String">
	select filename from attachments where id in
	<foreach item="id" index="idx" collection="list"
				open="(" separator="," close=")" >
		#{id}	
	</foreach>
</select>

<insert id="addUserArticle">
	insert into usersArticles values(#{userId}, #{bno}, now())
</insert>

<select id="countArticles" resultType="Integer">
	select count(*) from usersArticles where bno = #{bno}
</select>

<select id="listPage" resultType="Board">
select * from boards order by moddate desc
	limit #{startRecordIndex}, #{numOfRecords}
</select>

<select id="getTotalCount" resultType="Integer">
	select count(*) from boards
</select>

<sql id="searchCondition">
<if test="filterBy != null">
	<if test="filterBy == 'Title'.toString()">
		and title like concat('%', #{searchKey}, '%')
	</if>
	<if test="filterBy == 'Content'.toString()">
		and content like concat('%', #{searchKey}, '%')
	</if>
	<if test="filterBy == 'Writer'.toString()">
		and writer like concat('%', #{searchKey}, '%')
	</if>
	<if test="filterBy == 'all'.toString()">
		and (
				title like concat('%', #{searchKey}, '%')
					or
				content like concat('%', #{searchKey}, '%')
					or
				writer like concat('%', #{searchKey}, '%')
			)		
	</if>
</if>
</sql>

<select id="searchBoard" resultType="Board">
select * 
from boards 
where bno > 0
<include refid="searchCondition"></include>
order by moddate desc
limit #{startRecordIndex}, #{numOfRecordsPerPage}
</select>

<select id="getSearchTotalCount" resultType="Integer">
select count(*)
from boards
where bno > 0
<include refid="searchCondition"></include>
</select>

</mapper>
