<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="yjc.wdb.bbs.BoardMapper">
  
<insert id="create" useGeneratedKeys="true" keyProperty="bno">
	insert into boards(title, content, writer)
	values(#{title}, #{content}, #{writer})
</insert>

<select id="listAll" resultType="Board">
	select * 
	from boards
	order by moddate desc
</select>

<select id="read" resultType="Board">
	select *
	from boards
	where bno=#{bno}	
</select>

<update id="incReadCnt">
	update boards set readcount=readcount+1 
	where bno = #{bno}
</update>

<update id="update">
	update boards set title=#{title}, content=#{content}, moddate=now()
	where bno = #{bno}
</update>

<delete id="delete">
	delete from boards
	where bno = #{bno}
</delete>

<insert id="addAttach" useGeneratedKeys="true" keyProperty="id">
	insert into attachments(bno, filename, mime, bytes) values(null, #{fileName}, #{mime}, #{bytes})
</insert>

<update id = "associateAttachWithBoard">
	update attachments set bno = #{bno}
	where id in 
	<foreach item="id" index="idx" collection="list"
					open="(" separator="," close=")" >
				#{id}	
	</foreach>
</update>

<select id="getAttaches" resultType="Attachment">
	select * from attachments where bno = #{bno}
</select>

<delete id="delAttaches">
	delete from attachments where id in
	<foreach item="id" index="idx" collection="list"
					open="(" separator="," close=")" >
				#{id}	
	</foreach>
</delete>

<select id = "getFileNames" resultType="String">
	select filename from attachments where id in
	<foreach item="id" index="idx" collection="list"
				open="(" separator="," close=")" >
		#{id}	
	</foreach>
</select>
</mapper>
